
/* PROJECTS */
.project-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Marketing heading styles */
.project-heading {
  letter-spacing: -0.05rem;
}
  
/* Make headings larger on bigger screens */
@media (min-width: 40em) {
  .project-heading {
    font-size: 50px; 
  }           
}

@media (min-width: 62em) {
  .project-heading {
    margin-top: 7rem;
  }
}

/* Project Layout */
.project {
  padding: 3rem 0;
}

/* Placeholder Image Styling */
.project-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.project-link:hover .project-image {
  transform: scale(1.05);
}
